<form
  name="deliveryAddressForm"
  novalidate
  class="large-form"
  data-ng-class="{'showerrors' : (deliveryAddressForm.$invalid && deliveryAddressForm.$submitted)}"
  data-ng-init="error.title = 'Oops! Please check the error messages below.'"
  >

  <div class="page-heading">
    <div class="breadcrumb">
        <p class="mobile-breadcrumb"><a href="#/address">Delivery addresses</a></p>
        <p class="desktop-breadcrumb">
            <a href="#" data-external-link="extLnkMyPostDashboard">MyPost</a><a href="#/address">Delivery addresses</a>Add a personal address
        </p>
    </div>
    <h1>Add a personal address</h1>
  </div>

  <div class="panel add-delivery-address">

    <div class="panel-header form">
      <h2>Address details</h2>
    </div>

    <div class="panel-content">

      <div class="form-container">

        <div class="error-message" focus-me="deliveryAddressForm.$invalid && deliveryAddressForm.$submitted" tabindex="-1">
          <h3>{{error.title}}</h3>
          <p data-ng-repeat="message in error.messages">{{message}}</p>
        </div>

        <div class="fieldscontainer">

          <div
            data-ng-class="{'field-error': (deliveryAddressForm.nickname.$dirty || deliveryAddressForm.$submitted) && deliveryAddressForm.nickname.$error.required}"
            class="formField">
            <label for="nickname">Nickname/description</label><span class="symbol-req"> *</span>
            <div class="error">
            <span>
              <span id="nickname-error">Please enter a nickname</span>
            </span>
            </div>
            <input
              required
              type="text"
              name="nickname"
              data-ng-model="deliveryAddress.nickname"
              id="nickname"
              class="medium"
              data-ng-focus="showNicknameHelp = true"
              data-ng-blur="showNicknameHelp = false"
              aria-describedby="nickname-error"
              />
            <p data-ng-show="showNicknameHelp" class="additional-details hide-animation">e.g. Work, Mum's house</p>
          </div>

          <div
            data-ng-class="{'field-error': (deliveryAddressForm.contactName.$dirty || deliveryAddressForm.$submitted) && deliveryAddressForm.contactName.$error.required}"
            class="formField">
            <label for="contactName">Contact name</label><span class="symbol-req"> *</span>
            <div class="error">
            <span>
              <span id="contact-name-error">Please enter a contact name</span>
            </span>
            </div>
            <input
              maxlength="40"
              required
              type="text"
              name="contactName"
              data-ng-model="deliveryAddress.contactName"
              id="contactName"
              class="medium"
              data-ng-focus="showContactNameHelp = true"
              data-ng-blur="showContactNameHelp = false"
              aria-describedby="contact-name-error"
              />
            <p data-ng-show="showContactNameHelp" class="additional-details hide-animation">The person we should deliver to at this address</p>
          </div>

          <address-completion
            id="address"
            placeholder="Placeholder text"
            pause="500"
            initial-value="initial value"
            selected-object="assignSelectedInput"
            field-required="true"
            title-field="address"
            on-focus-message="On focus message"
            minlength="3"
            type="text"
            match-class="highlight"
            class="ng-isolate-scope">
          </address-completion>

        </div>

        <div class="form-controls">
          <a href="#/address">Cancel</a>
          <button type="submit" data-ng-click="addAddress()" id="delivery-address-submit" class="primary-button">Add</button>
        </div>

      </div>

    </div>

  </div>
</form>