@import "partials/base";

@import "partials/normalize";

@import "partials/social";

@import "partials/type";
@import "partials/header";
@import "partials/layout";
@import "partials/card";
@import "partials/common";
@import "styles/partials/instagramPics";
@import "partials/buttons";
