body {
  font-family : Arial, sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img {
  width : 100px;
  height : 100px;
}

@import "partials/normalize";

@import "partials/social";

@import "partials/type";
@import "partials/header";
@import "partials/layout";
@import "partials/animation";
@import "partials/card";
@import "partials/common";
