.colour-animation {
  color: #a668fe;

  //Only webkit gets the best experience
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 20s infinite linear alternate;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(250deg);
  }

  to {
    -webkit-filter: hue-rotate(310deg);
  }
}
