$inner-gutter : 6px;

.card {
  background : $cardBackground;
  padding : $inner-gutter;
  margin: 0 0 10px 0;
  color : $bodyText;
  border-radius : $borderRadius;
  box-shadow: $boxShadow;
  font-size: 12px;
  position : relative;
  > div {
    display: inline-block;
    vertical-align: top;
  }

  .profile-picture {
    img {
      border-radius : $borderRadius;
      width : 70px;
      height: 70px;
      box-shadow: $boxShadow;
    }
  }

  .profile-info {
    margin: 0 $inner-gutter;
    max-width : 50%;

    a {
      display : block;
      margin: 4px 0;
      font-size : 10px;
      &:first-child {
        margin : 0;
      }
    }

    h3 {
      display : inline-block;
      margin : 0;
      font-size: 14px;
      font-weight: normal;
    }

  }

  .voting {
    margin-left: $inner-gutter;
    float : right;

    .vote-btn {
      bottom: $inner-gutter;
      right: $inner-gutter;
      position: absolute;
    }
  }

}
