.card {
  background : #fff;
  padding : 6px;
  margin: 0 0 10px 0;
  color : #3b3b3b;
  border-radius : 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 12px;

  .profile-picture {
    display: inline-block;
    img {
      border-radius : 2px;
      width : 70px;
      height: 70px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    }
  }

  .profile-info {
    display: inline-block;
    flex: 3 40px;
    margin: 0 6px;

    a {
      display : block;
      margin: 4px 0;
      font-size : 10px;
    }

    h3 {
      display : inline-block;
      margin : 0;
      font-size: 14px;
      font-weight: normal;
    }

  }

  .voting {
    display: inline-block;
    align-content : flex-end;
    position : relative;
    margin-left: 6px;

    .vote-btn {
      bottom: 0;
      right: 0;
      position: absolute;
    }

  }

  .cta {
    display : block;
    border-radius : 2px;
    background : #a668fe;
    border : 2px solid #a668fe;
    padding: 10px;
    //color : #a668fe;
    color : white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    font-size : 14px;

    &.social {
      width : 80%;
      text-align: center;
      margin : 10px auto;
      span {
        font-size : 16px;
      }
    }

  }
}
