.card {
  background : $cardBackground;
  padding : 6px;
  margin: 0 0 10px 0;
  color : $bodyText;
  border-radius : 2px;
  box-shadow: $boxShadow;
  font-size: 12px;

  .profile-picture {
    display: inline-block;
    img {
      border-radius : 2px;
      width : 70px;
      height: 70px;
      box-shadow: $boxShadow;
    }
  }

  .profile-info {
    display: inline-block;
    flex: 3 40px;
    margin: 0 6px;

    a {
      display : block;
      margin: 4px 0;
      font-size : 10px;
    }

    h3 {
      display : inline-block;
      margin : 0;
      font-size: 14px;
      font-weight: normal;
    }

  }

  .voting {
    display: inline-block;
    align-content : flex-end;
    position : relative;
    margin-left: 6px;

    .vote-btn {
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }

}
