* {
  box-sizing: border-box;
}

ul {
  margin : 0;
  padding : 0;
  list-style: none;
}

a {
  color : #3b3b3b;
  text-decoration: none;
}

.flex-row {
  display : flex;
  flex-direction : row;
  flex-wrap : nowrap;
}
