$headerBackground : #3b3b3b;

.header {
  text-align: center;
  padding : 10px;
  background : $headerBackground;
  h1 {
    margin : 0;
    font-weight: 300;

    color: #424bfe;
  }
}

.place-title {
  font-weight:normal;
}
