.cover-image-container {
  position : relative;
  border-radius : 2px;

  span {
    position : absolute;
    right :0px;
    top : 0;
    padding : 8px 10px 8px 10px;
    background : $headerBackground;
    color : $purple;
    border-radius : 6px;
    font-size : 14px;
    border : 2px solid $purple;
  }

  h3 {
    padding: 10px;
    position : absolute;
    bottom : 0;
    left : 0;
    background : rgba(0,0,0,0.8);
    color : $white;
    border-radius : 2px;
    margin : 0;
    font-weight : normal;
    width: 100%;
    a {
      float : right;
      color : $white;
    }
  }

  .cover-img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius : 2px;
  }
}

.description {
  margin : 6px 0;
}

.profile-images {
  margin : 6px 0;
  a {
    display : inline-block;
    position : relative;
    width : 25%;
    margin : 2px 0;
    span {
      display : inline-block;
      color : $white;
      background : $lightCharcoal;
      position : absolute;
      border-radius : 2px;
      bottom : 0;
      right : 0;
      padding : 3px;
    }

  }
  img {
    margin : 0 auto;
    display : block;
    box-shadow: $boxShadow;
    border-radius : 2px;
    max-width: 100%;
    height: auto;
    max-height: 60px;
  }
}
