$purple : #a668fe;
$darkCharcoal : #252527;
$lightCharcoal : #3b3b3b;
$white : #fff;

$headerText : $purple;
$bodyText : $lightCharcoal;
$headerBackground : $darkCharcoal;
$bodyBackground : $lightCharcoal;
$cardBackground : $white;

