<h2>What's the best burger place in Melbourne?</h2>

<ul>
  <li data-ng-repeat="burgerPlace in places| orderBy:'-votes'">
    <img src="{{burgerPlace.profilePicture}}" alt=""/>
    <h3>{{burgerPlace.title}}</h3>
      <ul>
        <li data-ng-repeat="venue in burgerPlace.venues">{{venue.suburb}}</li>
      </ul>
    <span>{{burgerPlace.votes}}  votes</span>
    <a href="{{'#/vote/' + burgerPlace.$id}}">Vote</a>
    <a target="_blank" href="{{burgerPlace.website.link}}">{{burgerPlace.website.name}}</a>
    <a data-ng-repeat="socialMedia in burgerPlace.social"
       target="_blank"
       href="{{socialMedia.link}}">
      {{socialMedia.channel}}: {{socialMedia.name}}</a>
  </li>
</ul>


