<h2>Where's the best <span>burger?</span></h2>

<ul>
  <li data-ng-repeat="place in places| orderBy:'-votes'">
    <img src="{{place.profilePicture}}" alt=""/>
    <h3>{{place.title}}</h3>
      <ul>
        <li data-ng-repeat="venue in place.venues">{{venue.suburb}}</li>
      </ul>
    <span>{{place.votes}}  votes</span>
    <a href="{{'#/vote/' + place.$id}}">Vote</a>
    <a target="_blank" href="{{place.website.link}}">{{place.website.name}}</a>
    <a data-ng-repeat="socialMedia in place.social"
       target="_blank"
       href="{{socialMedia.link}}">
      {{socialMedia.channel}}: {{socialMedia.name}}</a>
  </li>
</ul>


