<a href="/melbourne/{{placeType}}" class="back-button">&#60; back</a>

<div data-ng-if="place" class="card fadeIn animated">

  <div class="cover-image-container">
    <span class="votes">
      <ng-pluralize
        count="place.votes"
        when="{'0': 'No votes', '1': '1 vote','other': '{} votes'}">
      </ng-pluralize>
    </span>

    <img class="cover-img" data-ng-src="{{fb.cover.source}}" alt="" />

    <h3>{{place.title}} <a target="_blank" href="{{place.website.link}}">{{place.website.name}}</a></h3>

  </div>
  <p data-ng-if="fb.description" class="description">"{{fb.description}}"</p>
  <p data-ng-if="fb.about" class="description">"{{fb.about}}"</p>

  <ul>
    <li data-ng-repeat="venue in place.venues">{{venue.suburb}}</li>
  </ul>

  <br>

  <div class="flex-row profile-images">
    <a data-ng-repeat="m in media | limitTo : 8" href="{{m.link}}">
      <img src="{{m.images.thumbnail.url}}" alt=""/>
      <span  class="socicon">x</span>
    </a>
  </div>

</div>

<div class="card" data-ng-show="!authorized">
  <a class="big cta" data-ng-click="getAuthorized('facebook')"><span class="socicon">b</span> Vote using Facebook</a>
  <a class="big cta" data-ng-click="getAuthorized('google')"><span class="socicon">c</span> Vote using Google</a>
</div>

<div class="card" data-ng-show="authorized">
  <a class="big cta" data-ng-click="place.votes = place.votes + 1">Confirm your vote</a>
  <a class="big cta" data-ng-click="logOut()">Log out</a>
</div>
